name: Deploy service-a

on:
    push:
        branches: [master]
        paths:
            - 'bot/**'

jobs:
    deploy:
        runs-on: ubuntu-latest
        needs: ci
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'
        steps:
            - name: Check out code
              uses: actions/checkout@v4
              with:
                  fetch-depth: 2  # Needed to compare commits for path changes

            - name: Check for changes in bot
              id: check-changes
              run: |
                  if git diff --name-only HEAD^ HEAD | grep -q '^bot/'; then
                    echo 'Changes detected in bot/'
                    echo 'deploy=true' >> $GITHUB_OUTPUT
                  else
                    echo 'No changes in bot/'
                    echo 'deploy=false' >> $GITHUB_OUTPUT
                  fi

# WORK IN PROGRESS
# Currently just checks for changes
