name: bot-deploy

on:
    workflow_run:
        workflows: ['ci']
        types:
            - completed
        branches: [master]

jobs:
    deploy:
        runs-on: ubuntu-latest
        if: github.event.workflow_run.conclusion == 'success' && github.event_name == 'workflow_run'
        steps:
            - name: Check out code
              uses: actions/checkout@v6
              with:
                  fetch-depth: 2 # Needed to compare commits for path changes

            - name: Check for changes in bot
              id: check-changes
              run: |
                  if git diff --name-only HEAD^ HEAD | grep -q '^bot/'; then
                    echo 'Changes detected in bot/'
                    echo 'deploy=true' >> $GITHUB_OUTPUT
                  else
                    echo 'No changes in bot/'
                    echo 'deploy=false' >> $GITHUB_OUTPUT
                  fi

            - name: Set up Docker Buildx
              if: steps.check-changes.outputs.deploy == 'true'
              uses: docker/setup-buildx-action@v3

            - name: Test Docker build
              if: steps.check-changes.outputs.deploy == 'true'
              run: docker build -t bot-image:test .

            - name: Deploy to server
              if: steps.check-changes.outputs.deploy == 'true'
              uses: appleboy/ssh-action@v1.2.4
              with:
                  host: ${{ secrets.SERVER_IP }}
                  username: ${{ secrets.SERVER_USERNAME }}
                  key: ${{ secrets.SSH_PRIVATE_KEY }}
                  script: ${{ secrets.DEPLOY_SCRIPT }}
